{#  ======= CONTADORES ======= #}
  <section id="counts" class="section-naranja counts">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-6">
          <div class="d-flex flex-column justify-content-center align-items-center contadores">
            <img class="img-fluid" 
                  src="{{ directory_theme }}/img/patita-morada.png"  
                  alt=""
                  title=""
                  width="80"
                  height="80">
            <span data-purecounter-start="0" data-purecounter-end="64" data-purecounter-duration="1" class="purecounter"></span>
            <p>Razas de gatos</p>
          </div>
        </div>

        <div class="col-lg-3 col-6">
          <div class="d-flex flex-column justify-content-center align-items-center contadores">
            <img class="img-fluid" 
                  src="{{ directory_theme }}/img/patita-naranja.png"  
                  alt=""
                  title=""
                  width="80"
                  height="80">
            <span data-purecounter-start="0" data-purecounter-end="4" data-purecounter-duration="1" class="purecounter"></span>
            <p>Asociaciones Internacionales</p>
          </div>
        </div>

        <div class="col-lg-3 col-6 mt-5 mt-lg-0">
          <div class="d-flex flex-column justify-content-center align-items-center contadores">
              <img class="img-fluid" 
                  src="{{ directory_theme }}/img/patita-marron.png"  
                  alt=""
                  title=""
                  width="80"
                  height="80">
              <span data-purecounter-start="0" data-purecounter-end="10" data-purecounter-duration="1" class="purecounter"></span>
              <p>Blog</p>
          </div>
        </div>

        <div class="col-lg-3 col-6 mt-5 mt-lg-0">
          <div class="d-flex flex-column justify-content-center align-items-center contadores">
            <img class="img-fluid" 
                  src="{{ directory_theme }}/img/patita-rosa.png"  
                  alt=""
                  title=""
                  width="80"
                  height="80">
            <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
            <p>Razas de gatos</p>
          </div>
        </div>

      </div> {# /ROW #}
    </div> {# /CONTAINER #}
  </section>
  {#  ======= //CONTADORES ======= #}