 {#  ======= NOSOTROS ======= #} 
  <section id="about" class="about section-azul py-5">
    <div class="container">
      <div class="section-title">
        <h2>Nosotros</h2>
        {# <p>Magnam dolorequi impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> #}
      </div>
      <div class="row">
        <div class="col-lg-8 pt-4 pt-lg-0" data-aos="fade-up">
          {# <p class="text-justify"> Bienvenidos a Gatopedia.mx donde somos una comunidad dedicada a promover y celebrar la diversidad de michis. Conoce las 4 principales asociaciones internacionales de gatos que se dedican a clasificar las <strong>razas de gato</strong>: </p> #}
          <p class="text-justify"> Bienvenidos Gatopedia.mx donde las razas de gato y las asociaciones internacionales de gatos. Somos una comunidad dedicada a promover y celebrar la diversidad de michis en todo el mundo. Conoce las 4 principales asociaciones internacionales de gatos como <strong>CFA</strong>, <strong>TICA</strong>, <strong>ACFA</strong> y <strong>FIFe</strong> que se dedican a clasificar las <strong>razas de gato</strong></p> 
          
          {# <ul>
              <li><a href="#"><strong>CFA</strong> (Cat Fanciers' Association)</a></li>
              <li><a href="#"><strong>TICA</strong> (The International Cat Association)</a></li>
              <li><a href="#"><strong>ACFA</strong> (American Cat Fanciers Association)</a></li>
              <li><a href="#"><strong>FIFe</strong> (Fédération Internationale Féline)</a></li>
          </ul>   #}          
          <p>Ya sea que te interese la belleza de los gatos o simplemente quieras aprender más sobre estos fascinantes compañeros, estás en el lugar correcto. El equipo de <strong>gatopedia</strong> nos esforzamos por darte información valiosa y de fácil lectura sobre las distintas razas de gato, para eso tenemos un blog con artículos interesantes.</p>
          <!-- <p class="text-justify">El equipo de <strong>gatopedia</strong> nos esforzamos por darte información valiosa y de fácil lectura sobre las distintas razas de gato, para eso tenemos un blog con artículos interesantes.</p> -->
          <!-- <p class="text-justify">El equipo de <strong>gatopedia</strong> nos esforzamos por darte información valiosa y de fácil lectura sobre las distintas razas de gato, para eso tenemos un blog con artículos interesantes. Esperamos inspirarte y conectarte con otros apasionados por los gatos en nuestra comunidad. ¡Únete a nosotros y sumérgete en la maravillosa variedad de razas de gato que hacen que el mundo de los felinos sea tan emocionante!</p> -->
          <a href="#" class="btn btn-general">Nosotros</a>

          <!-- ORIGANLES -->
          <!-- Bienvenidos al apasionante mundo de las razas de gato y las asociaciones internacionales de gatos. Somos una comunidad dedicada a promover y celebrar la diversidad de michis en todo el mundo. Conoce las 4 principales asociaciones internacionales de gatos como la <strong> CFA, TICA, ACFA y FIFe</strong>, que se dedican a clasificar las <strong>razas de gato</strong>. Ya sea que te interese la belleza de los gatos o simplemente quieras aprender más sobre estos fascinantes compañeros, estás en el lugar correcto. </p> -->
          <!-- El equipo de <strong>gatopedia</strong> nos esforzamos por darte información valiosa y de fácil lectura sobre las distintas razas de gato, para eso tenemos un blog con artículos interesantes sobre sus características únicas y otros datos curiosos. Esperamos inspirarte y conectarte con otros apasionados por los gatos en nuestra comunidad. ¡Únete a nosotros y sumérgete en la maravillosa variedad de razas de gato que hacen que el mundo de los felinos sea tan emocionante!</p> -->
        </div>
          <div class="col-lg-4">
            <div class="row">
                <div class="offset-lg-1 col-lg-10">
                  <img src="{{ directory_theme }}/img/gato2.png" class="img-fluid img-migatito" alt="">
                </div>
            <div>
        </div>
      </div>
    </div>
  </section>
  
  {#  ======= /NOSOTROS ======= #}