<section id="recent-blog-posts" class="recent-blog-posts">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Artículos recientes</h2>
        {# <p>Magnam dolorequi impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> #}
      </div>

      <div class="row gy-5">
        {% for articulo in random_articulos %}
          <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="post-item position-relative h-100">

              <div class="post-img position-relative overflow-hidden">
                <img src="{{ directory_theme }}/img/blog/blog-1.jpg" class="img-fluid" alt="">
                <span class="post-date">December 12</span>
              </div>

              <div class="post-content d-flex flex-column">

                {# CORTAR EL NOMBRE DEL ARTICULO A 32 LETRAS#}
                <h3 class="post-title text-center"> 
                  {{ articulo.title | slice(0, 32) ~ (articulo.title | length > 32 ? '...' : '') }} 
                </h3>
                {# <div class="meta d-flex align-items-center">
                  <div class="d-flex align-items-center">
                    <i class="bi bi-person"></i> <span class="ps-2">Julia Parker</span>
                  </div>
                  <span class="px-3 text-black-50">/</span>
                  <div class="d-flex align-items-center">
                    <i class="bi bi-folder2"></i> <span class="ps-2">Politics</span>
                  </div>
                </div> #}
                <hr>
                <a href="blog-details.html" class="readmore stretched-link">
                  <span>Read More</span>
                  <i class="bi bi-arrow-right"></i>
                </a>
              </div>
            </div>
          </div> {# End post item #}
        {% endfor %}
      </div> {# ROW DE LOS POSTS #}
    </div>
  </section>