<!-- ======= Frequently Asked Questions Section ======= -->
<section id="faq" class="faq">
    <div class="container">

        <div class="section-title">
            <h2>Frequently Asked Questions</h2>
        </div>

        <ul class="faq-list">
            {% for faq in faqs %}
                <li>
                    <div data-bs-toggle="collapse" class="collapsed question" href="#faq-content-{{ loop.index }}">
                        {{ faq.name }}
                        <i class="bi bi-chevron-down icon-show"></i>
                        <i class="bi bi-chevron-up icon-close"></i>
                    </div>
                    <div id="faq-content-{{ loop.index }}" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            {{ faq.acceptedAnswer.text }}
                        </p>
                    </div>
                </li>
            {% endfor %}
        </ul>

    </div>
</section>