<div id="cookie_wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 cookie_message"><button id="close_coockies"><i class="icon-circle-cross"></i><span>Acepto las cookies de esta página</span></button>
        <p>En Rastreator usamos cookies propias y de terceros para realizar análisis de uso y de medición de nuestra web para mejorar nuestros servicios. Si continuas navegando, consideramos que aceptas su uso.</p>
      </div>
    </div>
  </div>
</div>
