
.icon-thumbs-up:before { content: '\e800'; } /* '' */
.icon-cancel-circled2:before { content: '\e801'; } /* '' */
.icon-ok-circled:before { content: '\e802'; } /* '' */
.icon-help-circled:before { content: '\e803'; } /* '' */
.icon-exclamation:before { content: '\e804'; } /* '' */
.icon-camera:before { content: '\e805'; } /* '' */
.icon-calendar:before { content: '\f4c5'; } /* '' */
